{% extends "bootstrap_theme/base.html" %}
{% load bootstrap3 %}
{% load wedding %}

{% block content %}
<div class="page-header">
  <h1>About this page</h1>
</div>

<p>Rob threw this page together based on the project 'animportantdate' by Jon Simmons.</p>
<p>Check out the <a href="https://github.com/joshsimmons/animportantdate">original GitHub repo here</a>, and <a href="https://github.com/lossyrob/animportantdate>">my modified version here</a>.</p>
<p>Yay for <a href="https://opensource.com/resources/what-open-source">Open Source Software!!</a></p>
<p><a href="https://github.com/joshsimmons/animportantdate/blob/master/LICENSE">MIT LICENSE</a></p>
{% endblock content %}
