{% extends "bootstrap_theme/base.html" %}
{% load bootstrap3 %}
{% load wedding %}

{% block content %}
<div class="page-header">
  <h1>Where &amp; When</h1>
</div>

<p>Our big day and celebrations are taking place in June of 2018 near Lancaster, PA. You&rsquo;ll find details about all of the events on this page as plans come together.</p>
<br>
{% if not request.session.group_id %}
<p class="alert alert-info">To see details about the invite-only events, enter the confirmation code we sent on the
  <a href="/">home</a> page.
</p>

{% else %}

{% for event in group.events.get_queryset %}

<p class="alert alert-info">Below you&rsquo;ll find details about the invite-only events including date, time, and location as well as travel and lodging advice. Make sure to keep
    <a href="/guest">your information</a> up to date so we can stay in touch with you and yours.</p>

<div>
    <h2>{{ event.name }}</h2>
    <h3>{{ event.date_time }}</h3>
    <h4><a href="{{ event.directions_url }}" target="_blank">{{ event.address }}</a></h4>

    <p>{{ event.description }}</p>
</div>

{%  endfor %}

{% endif %}

<!-- private details redacted <3 -->

{% endblock content %}
