{% extends "bootstrap_theme/base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block content %}

<div class="page-header">
  <h1>Gifts</h1>
</div>

<p>We have a long list of things we need and want, both large and small, so we’ve put together a wedding registry. But not everything we want can be bought at a store – we want to fill our lives with art and would love for yours to be a part of it, whatever form that takes!</p>

<ul>
    <li><a href="https://sokindregistry.org/registry/14188">SoKind Registry</a></li>
</ul>

{% endblock %}
