{% extends "bootstrap_theme/base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block content %}
<div class="page-header">
  <h1>Photos</h1>
</div>

<p>We&rsquo;ll be collecting photos before and during the wedding and posting them here. Have you taken photos you&rsquo;d like to share? Let us know!</p>

<h2>Engagement Photos</h2>

<p>Photos taken by <a href="https://www.plate3photography.com">Plate 3 Studios</a></p>

<p><img class="photoshoot" src="/static/images/shoot/peek.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2071.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2075.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2091-2.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2097.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2163.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2221-2.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2238.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2292-2.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2319.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2448.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2455.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2457.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2463.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2464.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2471.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2506-cropped.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2440.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2539.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2545.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2561.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2570.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2590.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2597.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2618.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2652.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2668.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2677.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2832.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2842.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2852.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2892.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2900.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2924.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2945.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2974.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A2986.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A3013.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A3036.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A3057.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A3059.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A3081.jpg"/></p>
<p><img class="photoshoot" src="/static/images/shoot/8Y9A3020.jpg"/></p>
{% endblock %}
