{% extends "bootstrap_theme/base.html" %}
{% load bootstrap3 %}
{% load wedding %}

{% block content %}

<p><img class="savethedate" src="/static/images/save-the-date/std-0.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-1.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-2.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-3.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-4.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-5.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-6.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-7.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-8.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-9.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-10.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-11.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-12.jpg"/></p>
<p><img class="savethedate" src="/static/images/save-the-date/std-13-with-date.jpg"/></p>

{% endblock content %}
