{% extends "bootstrap_theme/base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
<div class="page-header">
  <h1>Our Story
    <small>The Apple and the Dragon</small>
  </h1>
</div>

<p>We're really excited to share our story with you all as we embark on our journey as life partners.</p>

<h2>How We Met</h2>

<p>
  <a href="https://www.facebook.com/photo.php?fbid=10101242704946367&set=a.504530135647.2018670.24612563&type=3&permPage=1"><img src="{% static "images/lucky13.jpg" %}" alt="Lucky 13 Pub" style="width: 350px; float: right; margin: 0 0 .5em 1em;"/></a>We met at Lucky 13 Pub, the bar where Annie has been the Sunday night bartender for the past  10  years. Not the most glorious of stories, but we make it work.
</p>


<h2>Double Engagement!</h2>

<!-- <p>
     <a href="https://www.facebook.com/photo.php?fbid=10102532509901897&set=a.504530135647.2018670.24612563&type=3&permPage=1"><img src="{% static "images/paperwork.jpg" %}" alt="Our immigration paperwork in March 2017" style="width: 350px; float: left; margin: 0 1em .5em 0;"/></a>

     </p> -->

<h2>About Rob</h2>

<p>
    <a href="https://www.instagram.com/lossyrob/"><img src="{% static "images/rob.jpg" %}" alt="Rob doing what he do" style="height: 150px; float: left; margin: 0 1em 1em 0;" /></a>Rob is super cool.
</p>

<h2>About Annie</h2>

<p>
    <a href="https://www.instagram.com/slammin_clams/"><img src="{% static "images/annie-sun.jpg" %}" alt="Annie in the sun" style="height: 150px; float: left; margin: 0 1em 1em 0;" /></a>Annie is cooler.
</p>

<h2>The Cats</h2>

<img src="{% static "images/cleo.jpg" %}" alt="Cleo" style="height: 150px; float: left; margin: 0 1em 1em 0;" />

<img src="{% static "images/sadie.jpg" %}" alt="Sadie" style="height: 150px; float: left; margin: 0 1em 1em 0;" />

<p>We have cats.</p>

{% endblock %}
