{% extends "bootstrap_theme/base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
<div class="page-header">
  <h1>Our Story
    <small>The Apple and the Dragon</small>
  </h1>
</div>

<p>We're really excited to share our story with you all as we embark on our journey as life partners.</p>

<h2>How We Met</h2>

<p>
  <a href="https://www.facebook.com/photo.php?fbid=10101242704946367&set=a.504530135647.2018670.24612563&type=3&permPage=1"><img src="{% static "images/lucky13.jpg" %}" alt="Lucky 13 Pub" style="width: 350px; float: right; margin: 0 0 .5em 1em;"/></a>We met at Lucky 13 Pub, the bar where Annie has been the Sunday night bartender for the past  10  years. Not the most glorious of stories, but we make it work.
</p>

<p>Chris thought Josh was awfully cute and made several passes at Josh throughout the week, but Josh was thoroughly overwhelmed by his work and completely oblivious to Chris&rsquo;s overtures. Happily, Josh thought Chris was pretty damn cute too and they spent the next 12 months chatting each other up online.</p>

<p>July of 2015 rolled around and, with it, another OSCON. Chris wasn&rsquo;t going to let Josh&rsquo;s obliviousness get in the way this time &ndash; he devised a clever plan to have dinner with a small group of friends. Cleverness be damned, his plan was quickly foiled by an onslaught of wonderful people. Mercifully, Chris only had to wait another day before he got some time alone with Josh... and they&rsquo;ve been together ever since.</p>

<h2>Double Engagement!</h2>

<p>
  <a href="https://www.facebook.com/photo.php?fbid=10102532509901897&set=a.504530135647.2018670.24612563&type=3&permPage=1"><img src="{% static "images/paperwork.jpg" %}" alt="Our immigration paperwork in March 2017" style="width: 350px; float: left; margin: 0 1em .5em 0;"/></a>A long distance relationship between Australia and America means taking flights across the Pacific Ocean. Lots of flights across the Pacific Ocean, in fact. In May of 2016, we decided we&rsquo;d had enough of that. We got engaged and set our course for Chris to move in with Josh (and Pico) in Petaluma.
</p>

<p>After ten months and lots of immigration paperwork, Chris made the move. We&rsquo;ve been living together ever since, and we&rsquo;re really looking forward to you joining in a very special part of our story.</p>

<h2>About Rob</h2>

<p>
    <a href="https://www.instagram.com/lossyrob/"><img src="{% static "images/rob.jpg" %}" alt="Rob doing what he do" style="height: 150px; float: left; margin: 0 1em 1em 0;" /></a>Rob is super cool.
</p>

<h2>About Annie</h2>

<p>
    <a href="https://www.instagram.com/slammin_clams/"><img src="{% static "images/annie-sun.jpg" %}" alt="Annie in the sun" style="height: 150px; float: left; margin: 0 1em 1em 0;" /></a>Annie is cooler.
</p>

<h2>The Cats</h2>

<img src="{% static "images/cleo.jpg" %}" alt="Cleo" style="height: 150px; float: left; margin: 0 1em 1em 0;" />

<img src="{% static "images/sadie.jpg" %}" alt="Sadie" style="height: 150px; float: left; margin: 0 1em 1em 0;" />

<p>We have cats.</p>

{% endblock %}
